# 原来的 requirements，但我看版本根本不重要嘛
# 更新：我错了，scikit-learn 的版本很重要，它不向后兼容！
#      其他包都是声明在外的，就装最新的吧，可以避免和已安装的版本冲突
#beautifulsoup4==4.8.0
#lxml==4.4.1
#numpy==1.17.2
#pillow==6.2.0
## pillow==7.0.0 好像6.2.2以下版本有漏洞？
#requests==2.22.0
#scikit-learn==0.21.3
## scikit-learn==0.22.1 可以使用captcha_classifier_sklearn0.22.1.pkl模型
#scipy==1.3.1

beautifulsoup4
lxml
numpy
pillow
requests
Cython
scikit-learn==0.21.3
# scikit-learn==0.22.1 可以使用captcha_classifier_sklearn0.22.1.pkl模型
scipy
tqdm
